/* * {
  border: solid black 1px;
} */

html {
    margin: 0;
  }
  
  body {
    height: calc(95vh-120px);
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Exo', sans-serif;
    box-sizing: border-box;
  }
  
  body:nth-child(n+2) {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

  main {
    display: flex;
  }
  
  nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    left: 0; 
    right: 0;
    margin-top: 65px; 
    margin-left: auto; 
    margin-right: auto; 
    width: 180px;
  }
  
  a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,.05);
    padding: 0 2px 0 2px;
    border-radius: 5px;
  }
  
  a:hover {
    color: rgb(187, 186, 255);
  }
  
  #landing-background{
    display: block;
    border-radius: 20px;
    margin-left: 0 auto; 
    margin-right: 0 auto;
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  #intro-text {
    margin: 0;
    width: calc(100%-20px);
    max-width: 100%; 
  }

  #signup-home {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  #homepage-wrapper {
    margin: 0 100px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #homepage-textbox {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  button, form {
    font-family: 'Exo', sans-serif;
  }
  
#vibecheck {
    margin-top: 17px;
    border-radius: 5px;
    text-align: center;
    color:white;
    position: absolute;
    left: 0; 
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 180px;
    background-color: rgba(0,0,0,.05);
}

  #home-vibecheck {
    border-radius: 5px;
    text-align: center;
    color:white;
    position: absolute;
    left: 0; 
    right: 0;
    margin-top: -83px; 
    margin-left: auto; 
    margin-right: auto; 
    width: 180px;
    background-color: rgba(0,0,0,.05);
  }
  
  #banner {
    position: 'absolute';
    margin: 0;
    height: 100px;
    width: 100vw;
    display: grid;
    overflow: hidden;
    gap: 0;
  }
  
  #template-title {
    display: none;
  }
  
  .text, .link {
    border: solid black 1px;
    height: 200px;
    width: 200px;
    position: absolute;
    overflow: auto;
    z-index: 10;
  }
  
  .image {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: auto;
    z-index: 10;
  }
  
  .drag {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    z-index: 11;
  }
  
  .textbox {
    border: solid red 1px;
    height: 80%
  }
  
  #image-popup, #link-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 300px;
    height: 300px;
    border: solid black 1px;
    visibility: hidden;
    z-index: 100;
  }
  
  #add-url {
    height: 50px;
  }
  
  .imgdiv {
    height: auto;
    width: auto;
  }
  
  #canvas, .canvas {
    position: relative;
    height: 800px;
    width: 1500px;
    border: solid black 1px;
    margin-bottom: 50px;
  }