
body {
  padding: 50px;
  font-family: 'Exo', sans-serif;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

button, form {
  font-family: 'Exo', sans-serif;
}

.text, .link {
  border: solid black 1px;
  height: 200px;
  width: 200px;
  position: absolute;
  resize: both;
  overflow: auto;
  z-index: 10;
}

.image {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  position: absolute;
  resize: both;
  overflow: auto;
  z-index: 10;
}

.drag {
  display: flex;
  justify-content: flex-end;
  background: rgb(153 231 252);
  padding: 10px;
  z-index: 11;
}

.textbox {
  border: solid red 1px;
  height: 80%
}

#image-popup, #link-popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 300px;
  height: 300px;
  border: solid black 1px;
  visibility: hidden;
  z-index: 100;
}

#add-url {
  height: 50px;
}

.imgdiv {
  height: auto;
  width: auto;
}

#canvas {
  position: relative;
  height: 800px;
  width: 1500px;
  border: solid black 1px;
}