
body {
  padding: 50px;
  font-family: 'Exo', sans-serif;
}

a {
  color: #00B7FF;
}

button, form {
  font-family: 'Exo', sans-serif;
}

.image, .text, .link {
  border: solid black 1px;
  height: 200px;
  width: 200px;
  position: absolute;
  resize: both;
  overflow: auto;
  z-index: 10;
}

.drag {
  background:green;
  padding: 10px;
  z-index: 11;
}

.textbox {
  border: solid red 1px;
  height: 80%
}