html {
    margin: 0;
  }
  
  body {
    height: calc(95vh-120px);
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Exo', sans-serif;
    box-sizing: border-box;
  }
  
  body:nth-child(n+2) {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

  main {
    display: flex;
  }
  
  nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    left: 0; 
    right: 0;
    margin-top: 65px; 
    margin-left: auto; 
    margin-right: auto; 
    width: 180px;
  }
  
  a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,.05);
    padding: 0 2px 0 2px;
    border-radius: 5px;
  }
  
  a:hover {
    color: rgb(187, 186, 255);
  }
  
  #landing-background{
    display: block;
    border-radius: 20px;
    margin-left: 0 auto; 
    margin-right: 0 auto;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 280px);
  }

  #intro-text {
    width: calc(100%-20px);
    max-width: 100%; 
  }

  #signup-home {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  #homepage-wrapper {
    margin: 0 100px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  #homepage-textbox {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
  }
  
  button, form {
    font-family: 'Exo', sans-serif;
  }
  
#vibecheck {
    margin-top: 17px;
    border-radius: 5px;
    text-align: center;
    color:white;
    position: absolute;
    left: 0; 
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 180px;
    background-color: rgba(0,0,0,.05);
}

  #home-vibecheck {
    border-radius: 5px;
    text-align: center;
    color:white;
    position: absolute;
    left: 0; 
    right: 0;
    margin-top: -83px; 
    margin-left: auto; 
    margin-right: auto; 
    width: 180px;
    background-color: rgba(0,0,0,.05);
  }
  
  #banner {
    position: 'absolute';
    margin: 0;
    height: 100px;
    width: 100vw;
    display: grid;
    overflow: hidden;
    gap: 0;
  }