
body {
  padding: 50px;
  font-family: 'Exo', sans-serif;
}

a {
  color: #00B7FF;
}

button, form {
  font-family: 'Exo', sans-serif;
}

.image, .text, .link {
  border: solid black 1px;
  height: 200px;
  width: 200px;
  position: absolute;
  resize: both;
  overflow: auto;
  z-index: 10;
}

.drag {
  background:green;
  padding: 10px;
  z-index: 11;
}

.textbox {
  border: solid red 1px;
  height: 80%
}

#image-popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 300px;
  height: 300px;
  border: solid black 1px;
  visibility: hidden;
}

#add-url {
  height: 50px;
  
}