<!-- Board creation page -->
<%- include('../partials/header') %>

<form id="save-vibe" action="/vibes" method="POST">
    <button type="submit">SAVE</button>
</form>

<%- include('../partials/footer') %>