<!-- Account deletion, other settings -->
<%- include('../partials/header') %>
<main>
<title>Account settings</title>    

<div class="wrapper">
    <div id="settings-box">
        <form action="/logout" method="GET">
            <button>Logout</button>
        </form>
        <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
            <button>Delete Account</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>