<!-- View user's boards, conditional option to delete if session = user -->
<%- include('../partials/header') %>

<a href="#">My vibes</a>
<a href="#">Liked</a>
<a href="/users/<%= id %>/settings">Settings</a>

<%- include('../partials/footer') %>