<!-- Login / sign-up page -->
<!-- todo add authentication failed notification -->
<main>
<%- include('../partials/header') %>
<div class="wrapper">
    <div id="auth-box">
        <form action="/auth/google" method="GET">
            <button>SIGN UP WITH GOOGLE</button>
        </form>
        <form action="/auth/google" method="GET">
            <button>LOG IN WITH GOOGLE</button>
        </form>
    </div>
</div>
<div class="wrapper">
    <% if (user) { %>
        <h4 class ="message" style="margin-top: -40px;">Signed-in successfully!</h4>
    <% } %>
</div>

<%- include('../partials/footer') %>