
<!-- TODO ADD LINK TO ACCOUNT PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300&family=VT323&display=swap" rel="stylesheet">
  <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/vibes">Browse</a>
        <a href="/vibes/new">New Vibe</a>
      <% if (user) { %>
        <a href="/users/<%= user._id %>">Account</a>
      <% } else { %>
        <a href="/auth/google">Account</a>
      <% } %>
        

        <a href="/auth/google">Login</a>
    </nav>
    <main>
        <h2 id="template-title"><%= title %></h1>